.Puzzle > pre {
  margin-bottom: 0;
}

.Puzzle__border {
  padding: 4px;
  background-color: var(--dark-text-color);
}

.Puzzle__goal {
  background-color: var(--light-bg-color);
  box-sizing: border-box;
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TjADhpRp/AAAAGklEQVR4nGMwbGD438BQfwCMgGwwCWFEMwAAsOULhe+VeS4AAAAASUVORK5CYII="); */
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TSgB8BWq3AAAAEUlEQVR4nGNgYGCob8COGBgAd6IH+Z5zRiIAAAAASUVORK5CYII="); */
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKAQMAAAC3/F3+AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TFwBzEEmuAAAAEUlEQVR4nGNgYGCob8COGBgAd6IH+Z5zRiIAAAAASUVORK5CYII="); */
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TABKFKrxwAAAAJElEQVR4nGPgcBJoUeRwYIAATLoBTB/AKT+qjjJ1sPD/DwYHAIyhHgmoYxtxAAAAAElFTkSuQmCC"); */
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TABqL8TRCAAAANUlEQVR4nGPgcBJoUeRwYGBwEGBhZADSYICgG8D0AQxxdBqsgpGwulHzoDQ0vGHh/x8MDgAA524ftzBV7QwAAAAASUVORK5CYII="); */
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFAAAAAAAApWe5zwAAAAJ0Uk5TABqL8TRCAAAANUlEQVR4nGPgcBJoUeRwYGBwEGBhZECiwcCBoQFMH4DzcdEPQBQzYXUj3jy0cIaF/38wOAAA3eMg6ZGs/FMAAAAASUVORK5CYII="); */
  /* background-position: -2px -2px; */
  position: relative;
}

.Puzzle__h-center {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--dark-text-color);
  opacity: 0.25;
}

.Puzzle__v-center {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: var(--dark-text-color);
  opacity: 0.25;
}

/* .Puzzle__progress-indicator {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: calc(100% - 40px);
}

.Puzzle__progress-indicator-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--error-color);
  position: relative;
}

.Puzzle__progress-indicator-circle-label {
  position: absolute;
  display: none;
  width: 60px;
  text-align: center;
  font-size: 14px;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
}

.Puzzle__progress-indicator-circle:hover
  .Puzzle__progress-indicator-circle-label {
  display: block;
}

.Puzzle__progress-indicator-line {
  flex: 1;
  height: 5px;
  background-color: var(--error-color);
} */
