.Sidebar {
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  padding: 20px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 350px;
  max-width: 350px;
}

.Sidebar__header {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  margin: 10px 10px 30px;
  text-align: center;
}

.Sidebar__subtext {
  text-align: center;
}

h2 {
  text-align: center;
}
