.Box {
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  position: relative;
}

.Box__coordinates {
  position: absolute;
  top: 10px;
  left: 10px;
}

.Box__coordinates pre {
  user-select: none;
}

.Box__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.Box__crosshair-x {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.Box__crosshair-y {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.Box__handle {
  position: absolute;
  width: 5px;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.2s;
  transform: translate(-50%, -50%);
}

.Box:hover .Box__handle {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.Box__handle--top-left {
  top: 0;
  left: 0;
}
.Box__handle--top-right {
  top: 0;
  right: 0;
}
.Box__handle--bottom-left {
  bottom: 0;
  left: 0;
}
.Box__handle--bottom-right {
  bottom: 0;
  right: 0;
}
.Box__handle--top {
  top: 0;
  left: 50%;
}
.Box__handle--bottom {
  bottom: 0;
  left: 50%;
}
.Box__handle--left {
  top: 50%;
  left: 0;
}
.Box__handle--right {
  top: 50%;
  right: 0;
}

.Box--layer-0 {
  z-index: 1;
}
.Box--layer-1 {
  z-index: 11;
}
.Box--layer-2 {
  z-index: 21;
}
.Box--layer-3 {
  z-index: 31;
}
