:root {
  --dark-bg-color: #342b38;
  --light-bg-color: #ededed;
  --dark-text-color: #342b38;
  --light-text-color: #fffdf6;
  --success-color: #899857;
  --error-color: #84142d;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  height: 100%;
}

.label {
  font-weight: bold;
}

button {
  border: 1px solid var(--dark-bg-color);
  background-color: var(--light-bg-color);
  color: var(--dark-bg-color);
  padding: 10px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 1s;
}

button:hover {
  background-color: #ccc;
}

button:active {
  background-color: var(--dark-bg-color);
}
