:root {
  --dark-bg-color: #342b38;
  --light-bg-color: #ededed;
  --dark-text-color: #342b38;
  --light-text-color: #fffdf6;
  --success-color: #899857;
  --error-color: #84142d;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
}

.label {
  font-weight: bold;
}

p {
  line-height: 1.4;
}
